td span.greenhighlight{
    background-color: #006600;
    font-weight: bolder;
    color: #FFFFFF;
    padding: 0.2em;
}

td span.redhighlight{
    background-color: #990000;
    font-weight: bolder;
    color: #FFFFFF;
    padding: 0.2em;
}